<div class="container">
    <div
        class="modal"
        *ngIf="modalOpen"
        @modal>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Usunąć listę?</mat-card-title>
            </mat-card-header>
            <mat-card-actions>
                <button
                    mat-raised-button
                    color="primary"
                    (click)="modalOpen = false">
                    Nie
                </button>
                <button
                    mat-button
                    color="warn"
                    (click)="clearResults()">
                    Tak
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <h2>Wyniki turniejów</h2>
    <h3 *ngIf="!results">Brak zakończonych turniejów</h3>
    <button
        *ngIf="autService.uid && results"
        mat-button
        color="warn"
        (click)="modalOpen = !modalOpen">
        Wyczyść listę
    </button>
    <div class="results">
        <div
            class="tour"
            *ngFor="let tour of results">
            <mat-card>
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Turniej nr: {{tour.index + 1}}</mat-card-title>
                        <mat-card-subtitle>Zakończony: {{tour.date}}</mat-card-subtitle>
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content [@content]="tour.expand">
                    <p class="content_header">Miejsce</p>
                    <mat-list>
                        <mat-list-item
                            class="player"
                            *ngFor="let player of tour.contestants; let index=index">
                            <div mat-list-icon class="icon">{{index+1 |place}}</div>
                            <div class="text">
                                <p>
                                    {{player.firstName}} {{player.lastName}}
                                </p>
                                <p>Punkty: {{player.points}}</p>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
                <mat-card-actions>
                    <button
                        mat-button
                        color="accent"
                        (click)="tour.expand = !tour.expand">
                        {{tour.expand ? 'Ukryj wyniki' : 'Pokaż wyniki'}}
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
