@import "src/assets/colors";

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
    background-color: $backgroundColor;
    mat-card {
        width: 100%;
        max-width: 400px;
    }
    mat-card-header {
        margin: 1rem auto;
        justify-content: center;
    }
    mat-card-actions {
        margin: 3rem auto 0.5rem;
        display: flex;
        justify-content: space-around;
    }
}
.tour {
    margin: 1rem 0.5rem;
}
.results {
    mat-card-content {
        overflow-y: auto;
    }
}
.content_header {
    margin: 0;
}
.player {
    margin: 0.5rem auto;
}
.icon {
    width: 50px !important;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    p {
        margin: 0;
    }
}
