@import "src/assets/colors";

.actions {
    align-items: stretch;
    .btn {
        margin: 1rem 0;
        color: $whiteColor;
        &--regist {
            background-color: $secondaryColor;
        }
        &--result {
            background-color: $secondaryVariantColor;
        }
        &--update {
            color: $primaryColor;
        }
        &--delete {
            color: $primaryVariantColor;
        }
    }
}

.spiner{
    margin-top: 3rem;
    align-items: center;
}