<div
    class="container spinner"
    *ngIf="noPlayers">
    <h3>Brak zarejestrowanych graczy!</h3>
</div>
<div
    class="container spinner"
    *ngIf="!contestants && !noPlayers">
    <mat-spinner></mat-spinner>
</div>
<div
    class="container"
    *ngIf="contestants">
    <div class="actions">
        <button
            class="btn btn--random"
            mat-button
            [disabled]="activeTournament"
            (click)="fillLadder()">
            Losuj ustawienie
        </button>
        <button
            class="btn btn--start"
            mat-button
            [disabled]="activeTournament"
            (click)="startTournament()">
            Rozpocznij turniej
        </button>
        <button
            class="btn btn--stop"
            mat-button
            [disabled]="!getTournamentWinner()"
            (click)="stopTournament()">
            Zakończ turniej
        </button>
    </div>
    <div class="ladder">
        <div
            class="round"
            *ngIf="round === 16">
            <h3 class="round_title">
                Runda
                <span>1/8</span>
            </h3>
            <app-grid
                [playerOne]="getContestant(16, 1)"
                [playerTwo]="getContestant(16, 2)"
                [canEdit]="true"
                (winner)="winner($event)"></app-grid>
            <app-grid
                [playerOne]="getContestant(16, 3)"
                [playerTwo]="getContestant(16, 4)"
                [canEdit]="true"
                (winner)="winner($event)"></app-grid>
            <app-grid
                [playerOne]="getContestant(16, 5)"
                [playerTwo]="getContestant(16, 6)"
                [canEdit]="true"
                (winner)="winner($event)"></app-grid>
            <app-grid
                [playerOne]="getContestant(16, 7)"
                [playerTwo]="getContestant(16, 8)"
                [canEdit]="true"
                (winner)="winner($event)"></app-grid>
            <app-grid
                [playerOne]="getContestant(16, 9)"
                [playerTwo]="getContestant(16, 10)"
                [canEdit]="true"
                (winner)="winner($event)"></app-grid>
            <app-grid
                [playerOne]="getContestant(16, 11)"
                [playerTwo]="getContestant(16, 12)"
                [canEdit]="true"
                (winner)="winner($event)"></app-grid>
            <app-grid
                [playerOne]="getContestant(16, 13)"
                [playerTwo]="getContestant(16, 14)"
                [canEdit]="true"
                (winner)="winner($event)"></app-grid>
            <app-grid
                [playerOne]="getContestant(16, 15)"
                [playerTwo]="getContestant(16, 16)"
                [canEdit]="true"
                (winner)="winner($event)"></app-grid>
        </div>
        <div
            class="round"
            *ngIf="round >= 8">
            <h3 class="round_title">
                Runda:
                <span>ćwierćfinał</span>
            </h3>
            <app-grid
                [playerOne]="getContestant(8, 1)"
                [playerTwo]="getContestant(8, 2)"
                [canEdit]="true"
                (winner)="winner($event)"></app-grid>
            <app-grid
                [playerOne]="getContestant(8, 3)"
                [playerTwo]="getContestant(8, 4)"
                [canEdit]="true"
                (winner)="winner($event)"></app-grid>
            <app-grid
                [playerOne]="getContestant(8, 5)"
                [playerTwo]="getContestant(8, 6)"
                [canEdit]="true"
                (winner)="winner($event)"></app-grid>
            <app-grid
                [playerOne]="getContestant(8, 7)"
                [playerTwo]="getContestant(8, 8)"
                [canEdit]="true"
                (winner)="winner($event)"></app-grid>
        </div>
        <div
            class="round"
            *ngIf="round >= 4">
            <h3 class="round_title">
                Runda:
                <span>półfinał</span>
            </h3>
            <app-grid
                [playerOne]="getContestant(4, 1)"
                [playerTwo]="getContestant(4, 2)"
                [canEdit]="true"
                (winner)="winner($event)"></app-grid>
            <app-grid
                [playerOne]="getContestant(4, 3)"
                [playerTwo]="getContestant(4, 4)"
                [canEdit]="true"
                (winner)="winner($event)"></app-grid>
        </div>
        <div class="round">
            <h3 class="round_title">
                Runda:
                <span>finał</span>
            </h3>
            <app-grid
                [playerOne]="getContestant(2, 1)"
                [playerTwo]="getContestant(2, 2)"
                [canEdit]="true"
                (cancel)="cancelWin($event)"
                (winner)="winner($event)"></app-grid>
        </div>
        <div class="round">
            <h3 class="round_title">
                <span>Zwycięzca:</span>
            </h3>
            <mat-form-field>
                <input
                    type="text"
                    matInput
                    readonly
                    [value]="getTournamentWinner()?((getTournamentWinner().firstName + ' ' + getTournamentWinner().lastName)|shortFullName) : ''">
                <button
                    mat-button
                    mat-icon-button
                    matSuffix
                    [disabled]="!getTournamentWinner()"
                    (click)="cancelWin(getTournamentWinner())">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
</div>
