@import "src/assets/colors";
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    a {
        margin: 0.3rem 0.2rem;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid $greyColor;
        text-decoration: none;
        color: $blackColor;
        transition: 0.25s ease-in-out;
        &:hover {
            color: $whiteColor;
            background-color: $primaryVariantColor;
            border-color: transparent;
        }
        &.active {
            color: $whiteColor;
            background-color: $secondaryColor;
            border-color: transparent;
            cursor: default;
        }
    }
}
