@import "src/assets/colors";

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.router {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    flex-grow: 1;
    overflow-x: auto;
}
nav {
    background-color: $primaryColor;
}
.active {
    color: $secondaryColor;
}
.mobile,
.desktop {
    justify-content: space-between;
    align-items: center;
    .title {
        margin: 0 0 0 0.5rem;
        padding-top: 0.5rem;
        font-size: 1.2rem;
        color: $whiteColor;
    }
}
.mobile {
    padding: 0.3rem;
    display: flex;
    .btn {
        margin-left: auto;
        color: $whiteColor;
        font-size: 1.5rem;
    }
}
.desktop {
    display: none;
    max-width: 1900px;
    margin: 0 auto;
    .mat-nav-list {
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-transform: uppercase;
        a {
            color: $whiteColor;
            width: auto;
            &.active {
                color: $secondaryColor;
            }
            &:hover {
                color: $secondaryColor;
            }
        }
    }
}
@media (min-width: 992px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: flex;
    }
}
footer {
    padding: 0.5rem 0;
    background-color: $greyColor;
    text-align: center;
    p {
        margin: 0;
        color: $disableColor;
    }
    a {
        color: $secondaryColor;
        text-decoration: none;
    }
}
