<app-info></app-info>
<div class="app">
    <nav>
        <div class="mobile">
            <button
                class="btn"
                mat-button
                [matMenuTriggerFor]="beforeMenu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu
                #beforeMenu="matMenu"
                xPosition="before">
                <mat-nav-list>
                    <a
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact : true}"
                        mat-list-item
                        [routerLink]="['/']">
                        Home
                    </a>
                    <a
                        *ngIf="!autService.token"
                        routerLinkActive="active"
                        mat-list-item
                        [routerLink]="['/login']">
                        Logowanie
                    </a>
                    <a
                        *ngIf="!autService.token"
                        routerLinkActive="active"
                        mat-list-item
                        [routerLink]="['/register']">
                        Rejestracja
                    </a>
                    <a
                        *ngIf="autService.token"
                        routerLinkActive="active"
                        mat-list-item
                        [routerLink]="['/profile']">
                        Profil
                    </a>
                    <a
                        *ngIf="autService.token"
                        routerLinkActive="active"
                        mat-list-item
                        (click)="autService.logout()">
                        Wyloguj
                    </a>
                </mat-nav-list>
            </mat-menu>
        </div>
        <div class="desktop">
            <mat-nav-list>
                <a
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact : true}"
                    mat-list-item
                    [routerLink]="['/']">
                    Home
                </a>
                <a
                    *ngIf="!autService.token"
                    routerLinkActive="active"
                    mat-list-item
                    [routerLink]="['/login']">
                    Logowanie
                </a>
                <a
                    *ngIf="!autService.token"
                    routerLinkActive="active"
                    mat-list-item
                    [routerLink]="['/register']">
                    Rejestracja
                </a>
                <a
                    *ngIf="autService.token"
                    routerLinkActive="active"
                    mat-list-item
                    [routerLink]="['/profile']">
                    Profil
                </a>
                <a
                    *ngIf="autService.token"
                    routerLinkActive="active"
                    mat-list-item
                    (click)="autService.logout()">
                    Wyloguj
                </a>
            </mat-nav-list>
        </div>
    </nav>
    <div class="router">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <p>
            Created and designed with passion by
            <a
                target="_blank"
                href="https://dao0dao.github.io/dao/">
                <span><</span>
                Dao
                <span>/></span>
            </a>
        </p>
    </footer>
</div>
