.container {
    margin-top: 1rem;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.versus {
    padding: 0 0.5rem;
    border-left: 1px solid black;
}
.input {
    max-width: 150px;
}
