<div class="versus container">
    <div class="flex player player--one">
        <mat-form-field class="input">
            <input
                matInput
                readonly
                [value]="playerOne? playerOne.firstName + ' ' + playerOne.lastName : ''">
            <button
                *ngIf="canEdit"
                [disabled]="(playerOne ? (!playerOne.canCancel) : true) || !activeTournament"
                mat-button
                matSuffix
                mat-icon-button
                (click)="cancelWin(playerOne)">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button
            *ngIf="canEdit"
            [disabled]="(!playerOne || playerOne.isPlayed) || !activeTournament"
            mat-mini-fab
            (click)="result(playerOne,playerOne, playerTwo)">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
    <div class="flex player player--two">
        <mat-form-field class="input">
            <input
                matInput
                readonly
                [value]="playerTwo ? playerTwo.firstName + ' ' + playerTwo.lastName : ''">
            <button
                *ngIf="canEdit"
                mat-button
                matSuffix
                mat-icon-button
                [disabled]="(playerTwo ? (!playerTwo.canCancel) : true) || !activeTournament"
                (click)="cancelWin(playerTwo)">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button
            *ngIf="canEdit"
            mat-mini-fab
            [disabled]="(!playerTwo || playerTwo.isPlayed) || !activeTournament"
            (click)="result(playerTwo, playerOne, playerTwo)">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
</div>
