<div class="container">
    <h2>Instrukcja obsługi:</h2>
    <mat-list>
        <mat-list-item>
            <p mat-list-icon>1</p>
            <p>
                W celu stworzenia konta jako zawodnik należy podać adres e-mail, na który zostanie wysłany link aktywacyjny.
            </p>
        </mat-list-item>
        <mat-list-item>
            <p mat-list-icon>2</p>
            <p>
                Jako zawodnik mamy uprawnienia do zarejestrowania się na turniej, edycje danych, usunięcia konta.
            </p>
        </mat-list-item>
        <mat-list-item>
            <p mat-list-icon>4</p>
            <p>
                Logowanie jako admin - <span>nno_name@tlen.pl</span>, hasło <span>12345678</span>
            </p>
        </mat-list-item>
        <mat-list-item>
            <p mat-list-icon>3</p>
            <p>
                Zawodnika można wyrejestrować gdy nie ma prowadzonych rozgrywek.
            </p>
        </mat-list-item>
        <mat-list-item>
            <p mat-list-icon>4</p>
            <p>
              Jako admin możemy zarejestrować gracza lub wyrejestrować.
            </p>
        </mat-list-item>
        <mat-list-item>
            <p mat-list-icon>5</p>
            <p>
              Admin ma wgląd do danych gracza
            </p>
        </mat-list-item>
        <mat-list-item>
            <p mat-list-icon>6</p>
            <p>
              Tylko admin może uzupełniać drabinkę turniejową.
            </p>
        </mat-list-item>
        <mat-list-item>
            <p mat-list-icon>PS</p>
            <p>
              Drodzy użytkownicy - uprzejmię proszę o nierozsyłanie spamu na maila ;)
            </p>
        </mat-list-item>
    </mat-list>
</div>
