$primaryColor: #00695C;
$primaryVariantColor: #26A69A;
$secondaryColor: #689F38;
$secondaryVariantColor: #8BC34A;
$warnColor: #EC407A;
$whiteColor: #EEEEEE;
$greyColor: #00000033;
$disableColor: #212121;
$backgroundColor: #ffffffde;