$primaryColor: #3f51b5;
$primaryVariantColor: #2c3981;
$secondaryColor: #3f90b5;
$secondaryVariantColor: #285f79;
$warnColor: #ec4482;
$whiteColor: #ffffff;
$greyColor: #00000033;
$disableColor: #00000042;
$backgroundColor: #ffffffde;