@import "~@angular/material/theming";
@include mat-core();

$primary: mat-palette($mat-teal, 800);
$primary-variant: mat-palette($mat-teal, 400);
$secondary-variant: mat-palette($mat-light-green, 500);
$error: mat-palette($mat-pink, 400);

$my-light-theme: mat-light-theme(
    (
        color: (
            primary: $primary,
            primaryVariant: $primary-variant,
            accent: $secondary-variant,
            warn: $error,     
        ),
    )
);

@include angular-material-theme($my-light-theme);
